@font-face {
  font-family: 'dcdrops';
  src:  url('fonts/dcdrops.eot?et9xo7');
  src:  url('fonts/dcdrops.eot?et9xo7#iefix') format('embedded-opentype'),
    url('fonts/dcdrops.ttf?et9xo7') format('truetype'),
    url('fonts/dcdrops.woff?et9xo7') format('woff'),
    url('fonts/dcdrops.svg?et9xo7#dcdrops') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dcdrops' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-demo:before {
  content: "\e800";
}
.icon-github:before {
  content: "\e801";
}
.icon-logo:before {
  content: "\e802";
}
.icon-top:before {
  content: "\e803";
}
.icon-uichina:before {
  content: "\e804";
}
.icon-video:before {
  content: "\e805";
}
.icon-zhanku:before {
  content: "\e806";
}
.icon-arrow-down:before {
  content: "\e807";
}
.icon-dribbble:before {
  content: "\e80c";
}
.icon-arrow:before {
  content: "\e80f";
}
.icon-call:before {
  content: "\e810";
}
.icon-email:before {
  content: "\e811";
}
.icon-about:before {
  content: "\e812";
}
.icon-contact:before {
  content: "\e813";
}
.icon-portfolio:before {
  content: "\e815";
}
.icon-skill:before {
  content: "\e816";
}
.icon-strengths:before {
  content: "\e817";
}
.icon-work:before {
  content: "\e818";
}
.icon-pdf:before {
  content: "\e900";
}
.icon-UE:before {
  content: "\e901";
}
.icon-UI:before {
  content: "\e902";
}
.icon-GUI:before {
  content: "\e903";
}
.icon-CODE:before {
  content: "\e904";
}
.icon-dcdrops:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
.icon-baiduyun:before {
  content: "\e907";
}
.icon-Portfolio_02:before {
  content: "\e908";
}
.icon-discuss:before {
  content: "\e909";
}
.icon-renren:before {
  content: "\e90a";
}
.icon-dingya:before {
  content: "\e90b";
}
.icon-ByteDance:before {
  content: "\e90c";
}
